{% extends 'model_view/base.html' %}

{% block content %}

    <h1 class="mt-2">Regression Model</h1>
    <hr class="mt-0 mb-4">

    <form enctype="multipart/form-data" method="post" action='' class="form-group">
        {% csrf_token %} 
            <h6> Select a file containing x or features data: </h6>
            <div class="custom-file">
                {{form.data }} 
                <label class="custom-file-label" for="id_data"></label>
            </div>
            <p></p>

            <script>
                $('#id_data').on('change', function(){
                    var fileName = $(this).val();
                    fileName = fileName.replace('C:\\fakepath\\', "");
                    $(this).next('.custom-file-label').html(fileName);
                })
            </script>

            <h6> Select a file containing y or labels data: </h6>
            <div class="custom-file">
                {{form.targets }} 
                <label for="target" class="custom-file-label" for="id_targets"></label>
            </div>

            <script>
                $('#id_targets').on('change', function(){
                    var fileName = $(this).val();
                    fileName = fileName.replace('C:\\fakepath\\', "");
                    $(this).next('.custom-file-label').html(fileName);
                })
            </script>

            <p></p>
            <h6> Choose a model type: </h6>
            <div>
                {{form.model_type}}
            </div>
            <p></p>

            <button type="submit", name="Submit" class="btn btn-success">Submit</button>

    </form>

{% endblock %}
